:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;

  --font-family-primary: "Open Sans";

  --font-weight-500: 500;
  --font-weight-600: 600;

  --font-background-color-white: #fff;
  --font-color-000: #000;
  --font-color-434343: #434343;
  --font-color-263c6f: #263c6f;
  --font-color-81848f: #81848f;

}

.highcharts-input-group {
  display: none !important;
}
.css-134qg7o-MuiButtonBase-root-MuiIconButton-root {
  margin-right: 2px !important;
}
